{{ 'component-related-products.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .related-products-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .related-products-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* Image container */
  .related-products__card .media {
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
  }

  .related-products__card .media img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* Mobile slider */
  @media screen and (max-width: 749px) {
    .related-products__list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 1rem;
      margin-bottom: -1rem;
      column-gap: 1.5rem;
    }
    
    .related-products__item {
      flex: 0 0 75%;
      scroll-snap-align: start;
    }
  }

  /* Desktop grid */
  @media screen and (min-width: 750px) {
    .related-products__list {
      display: grid;
      grid-template-columns: repeat({{ section.settings.columns_desktop }}, 1fr);
      column-gap: {{ section.settings.column_gap }}px;
      row-gap: {{ section.settings.row_gap }}px;
    }
  }

  /* Title */
  .related-products__title {
    margin: 0.5rem 0 0;
    font-size: calc(var(--font-heading-scale) * 1.4rem);
    text-align: center;
  }
{%- endstyle -%}

<div class="related-products color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width related-products-{{ section.id }}-padding isolate">
    {%- unless section.settings.title == blank -%}
      <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }} text-center">
        {{ section.settings.title }}
      </h2>
    {%- endunless -%}

    <div class="related-products__list">
      {%- for block in section.blocks -%}
        <div class="related-products__item" {{ block.shopify_attributes }}>
          <div class="related-products__card card">
            {%- if block.settings.image != blank -%}
              <div class="related-products__card-media media media--transparent">
                {{ block.settings.image | image_url: width: 800 | image_tag:
                  loading: 'lazy',
                  class: 'motion-reduce',
                  alt: block.settings.title | escape
                }}
              </div>
            {%- else -%}
              <div class="related-products__card-media media media--transparent">
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {%- endif -%}
            
            {%- if block.settings.title != blank -%}
              <h3 class="related-products__title">{{ block.settings.title | escape }}</h3>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Related products",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Related products",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Column spacing",
      "default": 20
    },
    {
      "type": "range",
      "id": "row_gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Row spacing",
      "default": 20
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended size: 800x800px"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Product name",
          "label": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Related products",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}