{{ 'section-desktop-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  /* 添加移动端隐藏样式 */
  .desktop-rich-text {
    display: none;
  }
  
  @media screen and (min-width: 750px) {
    .desktop-rich-text {
      display: block;
    }
  }
  
  /* 自定义容器宽度 */
  .section-{{ section.id }}-width {
    max-width: {{ section.settings.container_width }}px;
    margin: 0 auto;
  }
  
  /* 自定义样式 */
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        .section-{{ section.id }} .rich-text__heading {
          {%- if block.settings.heading_font_weight != 'default' -%}
            font-weight: {{ block.settings.heading_font_weight }};
          {%- endif -%}
          {%- if block.settings.heading_font_size != 0 -%}
            font-size: {{ block.settings.heading_font_size }}px;
          {%- endif -%}
          {%- if block.settings.heading_color != 'rgba(0,0,0,0)' -%}
            color: {{ block.settings.heading_color }};
          {%- endif -%}
        }
      {%- when 'caption' -%}
        .section-{{ section.id }} .rich-text__caption {
          {%- if block.settings.caption_font_weight != 'default' -%}
            font-weight: {{ block.settings.caption_font_weight }};
          {%- endif -%}
          {%- if block.settings.caption_font_size != 0 -%}
            font-size: {{ block.settings.caption_font_size }}px;
          {%- endif -%}
          {%- if block.settings.caption_color != 'rgba(0,0,0,0)' -%}
            color: {{ block.settings.caption_color }};
          {%- endif -%}
        }
      {%- when 'text' -%}
        .section-{{ section.id }} .rich-text__text {
          {%- if block.settings.text_font_weight != 'default' -%}
            font-weight: {{ block.settings.text_font_weight }};
          {%- endif -%}
          {%- if block.settings.text_font_size != 0 -%}
            font-size: {{ block.settings.text_font_size }}px;
          {%- endif -%}
          {%- if block.settings.text_color != 'rgba(0,0,0,0)' -%}
            color: {{ block.settings.text_color }};
          {%- endif -%}
        }
    {%- endcase -%}
  {%- endfor -%}
{%- endstyle -%}

<div class="desktop-rich-text section-{{ section.id }}-padding">
  <div class="isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-width">
    <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
      <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
        <div class="rich-text__blocks {{ section.settings.content_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <h2
                  class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.heading }}
                </h2>
              {%- when 'caption' -%}
                <p
                  class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.caption | escape }}
                </p>
              {%- when 'text' -%}
                <div
                  class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.text }}
                </div>
              {%- when 'button' -%}
                <div
                  class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    >
                      {{- block.settings.button_label | escape -}}
                    </a>
                  {%- endif -%}
                  {%- if block.settings.button_label_2 != blank -%}
                    <a
                      {% if block.settings.button_link_2 == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link_2 }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                    >
                      {{- block.settings.button_label_2 | escape -}}
                    </a>
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Desktop Rich Text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "container_width",
      "min": 600,
      "max": 1600,
      "step": 10,
      "unit": "px",
      "label": "Container Width",
      "default": 1200,
      "info": "Set the maximum width of the text container"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            },
            {
              "value": "hxl",
              "label": "Extra Large"
            },
            {
              "value": "hxxl",
              "label": "Extra Extra Large"
            }
          ],
          "default": "h1",
          "label": "Heading Size"
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "300",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "500",
              "label": "Medium"
            },
            {
              "value": "600",
              "label": "Semi Bold"
            },
            {
              "value": "700",
              "label": "Bold"
            },
            {
              "value": "800",
              "label": "Extra Bold"
            },
            {
              "value": "900",
              "label": "Black"
            }
          ],
          "default": "default",
          "label": "Font Weight"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Custom Font Size",
          "default": 0,
          "info": "Set to 0 to use default size"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Custom Color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Caption"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Caption with letter spacing"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Text Style"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Caption Size"
        },
        {
          "type": "select",
          "id": "caption_font_weight",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "300",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "500",
              "label": "Medium"
            },
            {
              "value": "600",
              "label": "Semi Bold"
            },
            {
              "value": "700",
              "label": "Bold"
            },
            {
              "value": "800",
              "label": "Extra Bold"
            },
            {
              "value": "900",
              "label": "Black"
            }
          ],
          "default": "default",
          "label": "Font Weight"
        },
        {
          "type": "range",
          "id": "caption_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Custom Font Size",
          "default": 0,
          "info": "Set to 0 to use default size"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "Custom Color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_font_weight",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "300",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "500",
              "label": "Medium"
            },
            {
              "value": "600",
              "label": "Semi Bold"
            },
            {
              "value": "700",
              "label": "Bold"
            },
            {
              "value": "800",
              "label": "Extra Bold"
            },
            {
              "value": "900",
              "label": "Black"
            }
          ],
          "default": "default",
          "label": "Font Weight"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Custom Font Size",
          "default": 0,
          "info": "Set to 0 to use default size"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Custom Color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "limit": 2,
      "settings": [
        {
         "type": "header",
         "content": "First Button"
        },        
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label",
          "info": "Leave blank to hide button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use Secondary Style"
        },
        {
         "type": "header",
         "content": "Second Button"
        },          
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button Label",
          "info": "Leave blank to hide button"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "Use Secondary Style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Desktop Rich Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}