{% comment %}
  移动端全宽图片Section
  文件名: mobile-image-banner.liquid
{% endcomment %}

{{ 'section-mobile-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #MobileImageBanner-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #MobileImageBanner-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="MobileImageBanner-{{ section.id }}" class="mobile-image-banner color-{{ section.settings.color_scheme }} gradient">
  {%- if section.settings.image != blank -%}
    {%- if section.settings.link != blank -%}
      <a href="{{ section.settings.link }}" class="mobile-image-banner__link">
    {%- endif -%}
    
    <div class="mobile-image-banner__content">
      {%- assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' -%}
      {%- capture sizes -%}
        (min-width: 990px) 0px, 100vw
      {%- endcapture -%}
      
      {{
        section.settings.image
        | image_url: width: 1500
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: section.settings.image.height,
          class: 'mobile-image-banner__image',
          sizes: sizes,
          widths: widths
      }}
    </div>
    
    {%- if section.settings.link != blank -%}
      </a>
    {%- endif -%}
  {%- else -%}
    <div class="mobile-image-banner__content">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "移动端全宽图片",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "图片"
    },
    {
      "type": "url",
      "id": "link",
      "label": "图片链接"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "上内边距",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "下内边距",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "移动端全宽图片"
    }
  ]
}
{% endschema %}