{{ 'component-image-with-link.css' | asset_url | stylesheet_tag }}

<div class="mobile-image-link mobile-image-link--{{ section.settings.image_height }}{% if section.settings.image_mobile != blank %} mobile-image-link--has-image{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  {%- if section.settings.image_mobile != blank -%}
    {%- if section.settings.link != blank -%}
      <a href="{{ section.settings.link }}" class="mobile-image-link__link">
    {%- endif -%}
    
    <div class="mobile-image-link__media media">
      {%- liquid
        assign image_height = section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio
      -%}
      {{
        section.settings.image_mobile
        | image_url: width: 1500
        | image_tag:
          loading: 'lazy',
          width: section.settings.image_mobile.width,
          height: image_height,
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          class: 'mobile-image-link__image'
      }}
    </div>
    
    {%- if section.settings.link != blank -%}
      </a>
    {%- endif -%}
  {%- else -%}
    <div class="mobile-image-link__media media">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "移动端图片链接",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "移动端图片"
    },
    {
      "type": "url",
      "id": "link",
      "label": "图片链接"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "自适应图片高度"
        },
        {
          "value": "small",
          "label": "小"
        },
        {
          "value": "medium",
          "label": "中"
        },
        {
          "value": "large",
          "label": "大"
        }
      ],
      "default": "medium",
      "label": "图片高度"
    }
  ],
  "presets": [
    {
      "name": "移动端图片链接"
    }
  ]
}
{% endschema %}

<style>
  /* 基础样式 */
  .mobile-image-link {
    display: none;
    position: relative;
    width: 100%;
  }
  
  .mobile-image-link__media {
    position: relative;
    overflow: hidden;
  }
  
  .mobile-image-link__image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .mobile-image-link__link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .mobile-image-link__link:hover,
  .mobile-image-link__link:focus {
    opacity: 1;
  }
  
  /* 高度设置 */
  .mobile-image-link--adapt .mobile-image-link__media {
    height: auto;
  }
  
  .mobile-image-link--small .mobile-image-link__media {
    height: 25rem;
  }
  
  .mobile-image-link--medium .mobile-image-link__media {
    height: 35rem;
  }
  
  .mobile-image-link--large .mobile-image-link__media {
    height: 45rem;
  }
  
  .mobile-image-link--adapt .mobile-image-link__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  /* 仅在移动端显示 */
  @media screen and (max-width: 749px) {
    .mobile-image-link {
      display: block;
    }
  }
  
  /* 桌面端隐藏 */
  @media screen and (min-width: 750px) {
    .mobile-image-link {
      display: none;
    }
  }
</style>