{% comment %}
  移动端全宽自适应图片横幅Section
  文件名: mobile-image-banner.liquid
{% endcomment %}

{{ 'section.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="mobile-image-banner color-{{ section.settings.color_scheme }} gradient">
  {%- if section.settings.image != blank -%}
    <a href="{{ section.settings.link }}" class="mobile-image-banner__link">
      <div class="mobile-image-banner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
        <img
          srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
          sizes="100vw"
          src="{{ section.settings.image | image_url: width: 750 }}"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round }}"
          class="mobile-image-banner__image"
        >
      </div>
    </a>
  {%- else -%}
    <div class="mobile-image-banner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "移动端图片横幅",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "图片"
    },
    {
      "type": "url",
      "id": "link",
      "label": "链接地址"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "强调色 1"
        },
        {
          "value": "accent-2",
          "label": "强调色 2"
        },
        {
          "value": "background-1",
          "label": "背景色 1"
        },
        {
          "value": "background-2",
          "label": "背景色 2"
        },
        {
          "value": "inverse",
          "label": "反转色"
        }
      ],
      "default": "background-1",
      "label": "配色方案"
    },
    {
      "type": "header",
      "content": "版块间距"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "上内边距",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "下内边距",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "移动端图片横幅",
      "category": "图片"
    }
  ]
}
{% endschema %}